<?xml version="1.0" encoding="UTF-8"?>
<plugin id="jp.acme-corporation.pdf.ml">
    <feature extension="ant.import" value="integrator.xml" type="file"/>
    <feature extension="dita.transtype.print" value="acme-corporation.pdf.ml"/>
    <require plugin="com.antennahouse.pdf5.ml"/>
    <transtype name="acme-corporation.pdf.ml" extends="pdf" desc="extends pdf5-ml for acme-corporation"/>
</plugin>
