<?xml version="1.0" encoding="UTF-8"?>
<plugin id="com.antennahouse.pdf5.ml">
  <extension-point id="com.antennahouse.pdf5.ml.param" name="PDF XSLT parameters (JAXP)"/>
  <extension-point id="com.antennahouse.pdf5.ml.saxon.param" name="PDF XSLT parameters (SAXON)"/>
  <extension-point id="com.antennahouse.pdf5.ml.psmi.param" name="PDF XSLT parameters (PSMI)"/>
  <extension-point id="com.antennahouse.pdf5.ml.convmerged.xsl" name="PDF XSLT stylesheet (convert merged middle file) inclusion"/>
  <extension-point id="com.antennahouse.pdf5.ml.xsl" name="PDF XSLT stylesheet inclusion"/>
  <extension-point id="com.antennahouse.pdf5.ml.psmi.xsl" name="PSMI XSLT stylesheet inclusion"/>
  <extension-point id="depend.com.antennahouse.pdf5.ml.convmerged.pre" name="Convert merged middle file pre-target"/>
  <extension-point id="depend.com.antennahouse.pdf5.ml.convmerged.post" name="Convert merged middle file post-target"/>
  <extension-point id="depend.com.antennahouse.pdf5.ml.format.pre" name="Formatting pre-target"/>
  <extension-point id="depend.com.antennahouse.pdf5.ml.format.post" name="Formatting post-target"/>
  <extension-point id="build.com.antennahouse.pdf5.ml.inclusion" name="Inclusion for build.xml."/>
  <extension-point id="build.com.antennahouse.pdf5.ml.format.inclusion" name="Inclusion for build_transoform_template.xml for above 'depends.～' targets."/>
  <extension-point id="build.com.antennahouse.pdf5.ml.ahf.build.inclusion" name="Inclusion for build_ahf_template.xml."/>
  <extension-point id="build.com.antennahouse.pdf5.ml.ahf.run.param.inclusion" name="Inclusion for AF Formatter execution parameter."/>
  <feature extension="dita.conductor.target.relative" value="integrator.xml" type="file"/>
  <transtype name="pdf5.ml" desc="PDF">
    <param name="style.def.file" desc="Style definition file" type="file"/>
    <param name="include.frontmatter.to.toc" desc="Specifies whether to include frontmatter topicref in toc." type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="add.numbering.title.prefix" desc="Specifies whether to add numbering to topic/table/fig." type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="add.part.to.title" desc="Specifies whether to add Part/Chapter literal" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="add.thumbnail.index" desc="Specifies wheter to add thumbnail index" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="assume.sortas.pinyin" desc="Specifies whether to treate index-sort-as pinyin readings" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="xml.lang" desc="Specify base xsml:lang" type="string"/>
    <param name="make.see.link" desc="Specifies whether to generate links for index-see" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="output.draft.comment" desc="Specifies whether to output draft-comment" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.required.cleanup" desc="Specifies whether to output required-cleanup" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="use.oid" desc="Specifies whether to adopt @oid as topic/@id" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="format.dl.as.block" desc="Specifies whether to format dl element as block" type="enum" deprecated="true">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="debug.style" desc="Specifies whether to output style debugging information" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="sort.glossentry" desc="Specifies whether to sort glossentry" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="output.start.message" desc="Specifies whether to output start message of plug-in stylesheet" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="auto.scale.down.to.fit" desc="Specifies whether to apply auto-scale-down to block image" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="make.toc.for.map" desc="Specifies whether to generate toc for map" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="make.index.for.map" desc="Specifies whether to generate index for map" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="make.alt.text" desc="Specifies whether to generate alt-text for image" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="paper.size" desc="Specifies the output paper-size" type="string"/>
    <param name="make.alt.text" desc="Specifies whether to generate alt-text for image" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="image.in.output.folder" desc="Specifies whether to copy images into output folder" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.crop.region" desc="Specifies whether to output crop region" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.type" desc="Specifies output type such as 'web','print-color','print-monochrome'" type="string"/>
    <param name="doc.type" desc="Specifies document type such as 'UM' (User's manual), 'IM' (Installation manual)" type="string"/>
    <param name="brand.type" desc="Specifies brand type for publication" type="string"/>
    <param name="exclude.cover.from.counting.page" desc="Specifies whether to exclude cover for page count" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="number.equation.block.unconditionally" desc="Specifies whether to number &lt;equation-block&gt; unconditionally" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="exclude.auto.numbering.from.equation.figure" desc="Specifies wheteher to exclude &lt;equation-block&gt; in &lt;equation-figure&gt; in unconditionally numbering mode" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="assume.equation.number.as.auto" desc="Specifies wheteher to assume all &lt;equation-number&gt; as auto" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="display.fn.at.end.of.topic" desc="Specifies wheteher to output footnote at the end of topic" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="use.i18n.index.lib" desc="Specifies wheteher to use I18N Index Library" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="debug.index" desc="Specifies wheteher to output index sorting debug information" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="adopt.mathml.alttext" desc="Specifies wheteher to adopt m:math/alttext in text mode processing" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="enable.landscape.page" desc="Enable topic level landscape page layout" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.table.title.continued" desc="Output 'Continued' word in table title" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.table.footer.continued" desc="Output 'Continued' word in table footer" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="output.index" desc="Specifies wheteher to output index" type="enum">
      <val default="true">yes</val>
      <val>no</val>
    </param>
    <param name="add.map.title.to.bookmark" desc="Add map title to top of the bookmark" type="enum">
      <val>yes</val>
      <val default="true">no</val>
    </param>
    <param name="use.index.common.xslt3" desc="Specifies the XSLT 3.0 index common build." type="enum">
      <val default="true">no</val>
      <val>yes</val>
    </param>
    <param name="fo.in.output.folder" desc="Specifies the final FO file location. The default value is output folder, otherwise it is in temporary folder." type="enum">
      <val>yes</val>
      <val>no</val>
    </param>
    <param name="ahf.dir" desc="Specifies AH Formatter directory" type="string"/>
    <param name="ahf.opt" desc="Specifies AH Formatter option setting file" type="file"/>
    <param name="last.pageseq.id" desc="Specifies the last fo:page-sequence/@id value" type="string"/>
    <param name="last.pageseq.offset" desc="Specifies the last fo:page-sequence minus offset" type="string"/>
  </transtype>
  <template file="build_template.xml"/>
  <template file="build_transform_template.xml"/>
  <template file="build_ahf_template.xml"/>
  <template file="xsl/dita2fo_shell_template.xsl"/>
  <template file="xsl/dita2fo_convmerged_shell_template.xsl"/>
  <template file="xsl/psmi_template.xsl"/>
</plugin>